.card-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
    padding-bottom: 15px;
    border-bottom: 1px solid #F4F3F3;

    .btnAdd {
        width: 28px;
        height: 28px;
        background-image: url('./btnadd.svg');
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        background-color: transparent;
    }
}

.card-item__text {
    width: 120px;
}

.card-item__description {
    margin: 0;
    font-family: 'Noto Sans';
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.card-item__price {
    margin-right: 10px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

.card-item__priceofProd {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #878786;
}

.card-item__img {
    height: 49px;
}

.card-item__control {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

.card-item__count {
    margin: 0 10px;
    padding-bottom: 5px;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}